<div class="content-area">
    <ol class="breadcrumb">
        <li><a [routerLink]="['/home']">Home</a></li>
        <li class="active">My Account</li>
    </ol>

    <div *ngIf="!syncSvc.isOnline()" role="alert" class="alert alert-warning">
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Your are currently offline.</strong>
    </div>

    <div *ngIf="!userSettings && syncSvc.isOnline()" class="container-fluid text-center">
        <h3>Local Only</h3>
        <div>
            <p class="text-info small">
                A local account lets you use dance to public module collections and create your own sessions.
                Your subscriptions and sessions are only stored locally in this browser, and could be lost.
            </p>
            <button class="btn btn-default" (click)="localSignUp()">Create Local Account</button>
        </div>

        <hr style="margin: 30px 0">

        <h3>Cloud Storage</h3>
        <ng-container *ngTemplateOutlet="cloudLogin"></ng-container>
    </div>

    <div *ngIf="userSettings" class="container-fluid text-center">
        <img [src]="userSvc.info.photo" class="img-rounded" style="width: 96px; height: 96px">
        <h4 class="text-success">You are signed in with {{userSvc.info.provider}} as <em>{{userSettings.name}}</em>.</h4>

        <div *ngIf="userSvc.isCloudUser()">
            <button class="btn btn-primary" (click)="syncWithCloud()" [disabled]="!syncSvc.isOnline()">
                Update collections from cloud storage.
            </button>
            <hr>
            <button type="button" class="btn btn-danger" (click)="signOut()" [disabled]="!syncSvc.isOnline()">
                Sign Out
            </button>
        </div>

        <div *ngIf="userSvc.isLocalUser()">
            <p class="text-info small">
                This local account lets you use dance to public module collections and create your own sessions.
                Your subscriptions and sessions are only stored locally in this browser, and could be lost.
            </p>
            <button type="button" class="btn btn-danger" (click)="signOut()">
                Destroy Local Account
            </button>
            <hr style="margin: 30px 0">
            <h3>Upgrade to Cloud Storage</h3>
            <ng-container *ngTemplateOutlet="cloudLogin"></ng-container>
        </div>
    </div>
</div>

<ng-template #cloudLogin>
    <p class="text-info small">
        A free cloud account lets you backup your data and share between <i>your</i> devices.
        It also allows you to create your own collections of dance modules, which you may <i>choose</i>
        to share with others.
    </p>
    <div class="amplify-block">
        <amplify-authenticator [signUpConfig]="signUpConfig"
                               usernameAttributes="email">
        </amplify-authenticator>
    </div>
    <hr class="text" data-content="or">
    <div class="sign-in-google" (click)="signInWithGoogle()"></div>
    <p class="text-info small">
        Google will only share your name and email address. Your photo will be displayed to you.
    </p>
</ng-template>
